.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(145deg, #cae9ff, #f3e7e9, #e3f1d5);
    border: none;  /* Remove any borders */
    border-top: none;
}

/* Ensure each link within the nav is also transparent and properly spaced */
.bottom-nav a {
    width: 25px;
    height: 0px;
    display: flex;
    flex-direction: column-reverse; /* Stack icon and text vertically */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Use text color from parent or explicitly set if needed */
    box-shadow: none;  /* Remove any box shadows */
    border: none;
    background: transparent;
    
    
}

.bottom-nav img {
    width: 80px;
    height: auto; /* Maintain aspect ratio */
    
}

.bottom-nav span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;  /* Smaller size for legibility */
    color: black;
    text-align: center; 
    margin-top: 4px; /* Space above the text for separation */
    background: transparent;
}


@media (max-width: 768px) {
    .bottom-nav {
        padding: 20px 0;  /* Less padding on mobile */
    }

    .bottom-nav a {
        flex-direction: column; /* Icons above the text */
        padding: 0px;  /* Slightly larger padding for easier touch */
        margin: 0 0px; /* More space between buttons */
        background: linear-gradient(145deg, #cae9ff, #f3e7e9, #e3f1d5);
    }

    .bottom-nav img {
        width: 50px;  /* Even smaller icons for very small screens */
    }

    .bottom-nav span {
        font-size: 16px; /* Smaller text to fit the compact layout */
    }
}