.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px 0;
    background: linear-gradient(145deg, #cae9ff, #f3e7e9, #e3f1d5);
    border: none;  /* Remove any borders */
    border-top: none;
}

/* Ensure each link within the nav is also transparent and properly spaced */
.bottom-nav a {
    width: 25px;
    height: 0px;
    display: flex;
    flex-direction: column-reverse; /* Stack icon and text vertically */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Use text color from parent or explicitly set if needed */
    box-shadow: none;  /* Remove any box shadows */
    border: none;
    background: transparent;
    
    
}

.bottom-nav img {
    width: 80px;
    height: auto; /*maintain aspect ratio */
    transition: transform 0.3s ease; /*icon also animates with the button */
}


.bottom-nav a:hover {
    transform: translateY(-5px); /* Moves the button up slightly */
    background-color: rgba(232, 61, 61, 0.2); /* Adds a slight white overlay */
}

.bottom-nav span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;  /* Smaller size for legibility */
    color: black;
    text-align: center; 
    margin-top: 4px; /* Space above the text for separation */
   
}


@media (max-width: 768px) {
    .bottom-nav {
        padding: 0px 10;  /* Less padding on mobile */
        margin-top: 0px; 
        margin-bottom: 0px; 
    }

    .bottom-nav a::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%; /* Larger than the button to cover entire area on click */
        height: 120%;
        background-color: rgba(151, 98, 191, 0.468); /* Semi-transparent blue ripple */
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        transition: transform 0.5s ease-out, opacity 0.3s ease;
        z-index: 0;
    }


    .bottom-nav a:active::before {
        transform: translate(-50%, -50%) scale(1); /* Scale up to beyond the button size */
        opacity: 0; /* Fade out the ripple effect */
    }

    .bottom-nav img {
        margin-top: 0px; 

        margin-bottom: 0px; 
        width: 70px;  /* Even smaller icons for very small screens */
    }

    .bottom-nav span {
        font-size: 16px; /* Smaller text to fit the compact layout */
    }
    
}
