
.forgot-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  .forgot-password-page form {
    max-width: 400px;
    width: 100%;
  }
  
  .forgot-password-page input,
  .forgot-password-page button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .forgot-password-page button {
    width: 200px;
    height: 50px; 
    padding: 0;
    border-radius: 50%; /*make it round */
    border: none;
    cursor: pointer;
    background: url('../images/button.png') no-repeat center center;
    background-size: cover; 
    background-color: transparent; 
    display: inline-flex; /* flex to center the content */
    align-items: center; /*center vertically */
    justify-content: center; /*center horizontally */
    color: white;
    outline: none;
}

  
  .forgot-password-page a {
    color: #007bff;
    text-decoration: none;
    margin-top: 12px;
  }
  
  .forgot-password-page a:hover {
    text-decoration: underline;
  }
  
  .forgot-password-logo {
    max-width: 400px; 
    height: auto;
    margin: 20px auto; /* image horizontal with auto margin andspace */
  }


  /* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .forgot-password-page {
      padding: 10px;
  }

  .forgot-password-page form {
      max-width: 100%;
  }

  .forgot-password-page input,
  .forgot-password-page button {
      padding: 8px;
      width: auto;

  }

  .forgot-password-page button {
      width: 150px;
      height: 40px;
      font-size: 14px;
  }

  .forgot-password-logo {
      max-width: 80%;
  }

  .forgot-password-page p {
    margin: 0 20px;
    font-size: 14px;
}
}