@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    width: 100%;
}

/* space between icons */
.right-icons {
    display: flex;
    gap: 10px; 
}


.home-header a {
    background: #e7e7e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.home-header img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* center logo */
.logo {
    height: 200px;
    margin: 0 auto 20px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.achievement-section {
    width: 80%;
    max-width: 500px;
    margin: 2rem auto; /* center horizontally and add margin */
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.achievement-section p {
    font-family: 'Roboto', sans-serif; 
    font-size: 35px; 
    color: rgb(63, 0, 63);
    margin-bottom: 0.5rem; 
    text-shadow: 1px 1px 2px gray; 
    font-weight: 700;
}

.achievement-section img {
    display: block;
    width: 360px;
    height: auto;
    margin-bottom: 0.5rem; 
    margin-left: calc(50% - 180px);  
}

.achievement-section button {
    padding: 0; 
    font-size: 1rem;
    color: white;
    background-image: url('../images/button.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 330px; /* Set a fixed width */
    height: 88px; /* Set a fixed height */

    padding: 10px; 
    box-shadow: none; /* Reset the box shadow */
    margin-bottom: 10px; 
}

.bottom-nav a.tools {
    background-image: url('../images/tools_Icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.bottom-nav a.tracking {
    background-image: url('../images/tracking_Icon.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.bottom-nav a.resources {
    background-image: url('../images/resources_Icon.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/* Style for nav icons */
.bottom-nav a {
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #cae9ff, #e3f1d5);
    border-radius: 30%;  /* Make icons round */
    text-decoration: none;  
    box-shadow: none;  
    border: none; 
    overflow: hidden; 
}

.bottom-nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 0%;
    padding: 10px 0; 
    background: linear-gradient(145deg, #cae9ff, #e3f1d5);
    border-top: none; 
}

.bottom-nav span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px; 
    margin-top: 70px; /* Space between icon and text */
    flex-direction: column;
    text-align: center;
}

/* more width for smaller screens */
@media screen and (orientation: portrait) {
    .home-container {
        padding: 10px;  /* padding around the edges */
    }
    
    .logo {
      /*logo size for smaller screens */
      height: 150px;
      margin-top: 80px; 

      margin-bottom: -0px; 
      
    }
    
    .achievement-section img {
      /*image size for smaller screens */
      width: 80%;
      margin-left: 10%; 
      margin-top: -70px; 
     
    }
    
    .achievement-section button {
      /* Adjust button size for smaller screens */
      width: 80%;
      height: auto;
      padding: 25px;
    }
  
}