.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    width: 100%;
}

/* space between icons */
.right-icons {
    display: flex;
    gap: 10px; 
}

.home-header a {
    background: #e7e7e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

/* center logo */
.main-content {
    display: flex;
    justify-content: space-between; 
    align-items: left;
    padding: 1rem;
    width: 100%;
}

.Professional-Help {
    text-align: left;
}

.adjustable-paragraph {
    width: 90vw;
    text-align: left;
  }
  

.Articles {
    text-align: left;
}

.Videos {
    text-align: left;
}

 /* style for buttons */
 .bottom-nav a {
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s; /* transition for hovver effect */
    display: flex; /* flexbox for centering */
    justify-content: center; 
    align-items: center; 
}

.bottom-nav a:hover {
    background-color: #3e8e41; /* darker shade on hover */
}

/* more width for smaller screens */
@media (max-width: 768px) {
    .achievement-section button {
        width: 90%; 
    }
/* let the buttons fill the space */
    .bottom-nav a {
        flex-grow: 1; 
        margin: 0.1;
        border-radius: 0;
        border-radius: 10px;
    }
}