.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.home-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    width: 100%;
}

/* space between icons */
.right-icons {
    display: flex;
    gap: 10px; 
    align-items: center;
}
  
.left-icons {
    display: flex;
    gap: 10px; 
    align-items: center;
}
  
  .left-icons img,
  .right-icons img {
    width: 50px;
    height: auto; 
    object-fit: cover; 
  }
  

.home-header a {
    background: #e7e7e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    
}

/* center logo */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: left;
    padding: 1rem;
    width: 100%;
    overflow: auto;
    
}

.Title {
    background-image: url('../images/resources_bg_icon.png');
    background-color: transparent;
    background-size: cover; /* or try 'contain' if 'cover' stretches the image */
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    border: none;
    color: white;
    font-size: 18px;
    /* border-radius: 20px;  */
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
}

.paragraph {
    text-align: left;
    color: #362C61;

}

.articles-para {
    text-align: left;
    color: #362C61;

}

.adjustable-paragraph {
    width: 100%; /* Full width */
    padding: 0 10px; /* Add padding */
}
  

.Articles {
    text-align: left;
}

.Videos {
    text-align: left;
}


/* more width for smaller screens */
@media (max-width: 768px) {
    .home-header, .main-content, .Title, .paragraph, .articles-para, .adjustable-paragraph, .Articles, .Videos {
        
        text-align: center;
    }

    .home-header a {
        width: 35px; 
        height: 35px;
    }

    .left-icons img,
    .right-icons img {
      width: 30px; /* Even smaller icons for mobile */
  
    }
  
  
    .settings-container img { /* Adjust title image for smaller screens */
      width: 100%;
      max-width: none; 
    }
  
}