.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
 
  height:auto;
  width: 100%;
}

.left-icons {
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}

.left-icons img,
.right-icons img {
  width: 50px; /* Set a specific width */
  height: auto; /* Set a specific height to maintain aspect ratio */
  object-fit: cover; /* This will ensure the images cover the space without distortion */
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-bottom: 0;
}

  .settings-box {
    width: 80%;
    max-width: 600px; 
    background-color: #ca607f;
    margin: 10px 0;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color:white;

  }
  
  h1 {
    text-align: center; 
  }
  
.settings-container img { /* Title Image */
  max-width: 300px; /* Adjusted for more appropriate sizing */
  width: 80%; /* Responsive width */
  height: auto;
  margin-bottom: 20px; /* Ensure space below the title */
}

.bottom-nav {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0;
  margin-top: 0px; /* Adjust this value as needed to push down the nav */
}

.bottom-nav a {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  text-decoration: none;

  display: flex; 
  justify-content: center; 
  align-items: center; 
}



@media (max-width: 768px) {
  .left-icons img,
  .right-icons img {
    width: 30px; /* Even smaller icons for mobile */

  }

  .settings-container, .settings-header {
    padding: 0.5rem;
  }

  .settings-container img { /* Adjust title image for smaller screens */
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove max-width restriction */
  }
  .bottom-nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 0;
    margin-top: 50px; /* Adjust this value as needed to push down the nav */
  }
}