.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
 
  height:auto;
  width: 100%;
}

.left-icons {
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}

.left-icons img,
.right-icons img {
  width: 50px;
  height: auto; 
  object-fit: cover; 
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-bottom: 0;
}

  .settings-box {
    width: 80%;
    max-width: 600px; 
    background-color: #ca607f;
    margin: 10px 0;
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color:white;

  }
  
  h1 {
    text-align: center; 
  }
  
.settings-container img { /* Title Image */
  max-width: 300px; 
  width: 80%; 
  height: auto;
  margin-bottom: 20px; /* Ensure space below the title */
}
.bottom-nav {
  width: 65%;
  height: auto;
}

@media (max-width: 768px) {
  .left-icons img,
  .right-icons img {
    width: 30px; /* Even smaller icons for mobile */

  }

  .settings-container, .settings-header {
    padding: 0.5rem;
  }

  .settings-container img { /* Adjust title image for smaller screens */
    width: 100%;
    max-width: none; 
  }

  .bottom-nav {
    width: 65%;
  }
}