    .sign-up-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        
}
  
    .sign-up-form {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        width: 300px;
}

    .sign-up-form input[type="text"],
    .sign-up-form input[type="password"],
    .sign-up-form input[type="email"],
    .sign-up-form input[type="number"],
    .sign-up-form select,
    .sign-up-form label {
        width: 100%;
        border-radius: 10px;
        background-color: transparent; 
        border: 4px solid #362c61; 
        color: #362c61;
        padding: 8px 15px; 
        font-size: 16px;
        margin:2%;
        position: relative;
}

    .sign-up-form button {
        padding: 10px;
        background-color: #007bff; 
        color: white;
        border: none;
        border-radius: 1px; 
        cursor: pointer;
}

    .sign-up-form button:hover {
        background-color: #0056b3; /* Darker shade for hover effect */
}

    .sign-up-form label {
        display: flex;
        align-items: center;
        justify-content: center;
}

.sign-up-form label input[type="checkbox"] {
margin-right: 5px;
}


.sign-up-form label a {
color: blue;
text-decoration: underline; 
}

.sign-up-page img{
    width:30%;
    height:auto;
}

@media (max-width: 768px) {
        .sign-up-form {
        width: 90%; 
    }
}