.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    height: 100vh; 
}

.box {
    width: 80%;
    max-width: 600px; 
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 16px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center; 
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-icons {
    display: flex;
    align-items: center;
}

.right-icons img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bottom-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px; /* Adjust the size as needed */
}

.playback-controls {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    margin-top: 20px;
}

.playback-controls button {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
}
