.tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh; 
    color: #362C61;
    background-color: transparent; 
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.tools-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    width: 100%;
}


.right-icons, .left-icons { /* Combined styles for simplicity */
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    gap: 10px; /* Adds space between icons if there are multiple */
    flex: 1; /* Allows the container to fill available space */
}

.right-icons img, .left-icons img {
    width: 50px;
    height: auto;
}

.tools-box {
    background-color: transparent; 
    border: 4px solid #362c61; 
    color: #362c61;
    padding: 8px 15px; 
    font-size: 16px;
    width:60%;
    border-right:transparent;
    margin:2%;
    position: relative;
}

.tools-box select {
    width: 20%; 
    height: 50px; 
    font-size: 16px;
    padding: 5px 10px; 
    border-color: #ca607f;
    border-width: 4px;
    border-radius:10px;
    background-color: transparent;
    color:rgb(78, 79, 80);
}

.tools-box img {
    width: 20%;
    height: auto;
}

  
.tools-content {
    width: calc(100% - 70px); 
    
}
  
.box-icon {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 50px; 
}

.audio-player {
    background-color: #ca607f;
    border-radius: 50px;
    padding: 5px;
  }


h1 {
    text-align: center; 
}

@media (max-width: 768px) {
    .tools-container {
        padding: 10px;
        height: auto;
    }

    .tools-header {
        flex-direction: row; /* Stack the icons vertically on small screens */
    }
    .right-icons, .left-icons {
        justify-content: center; /* Center the icons on small screens */
        width: 100%; /* Full width to accommodate space */
           
    }
    h1 {
        font-size: 16px; /*smaller font size for headings */
    }
}
