.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-header {
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
    /* padding: 1rem; */
    width: 100%;
}

.main-content img {
    max-width: 200px;
    margin: 0 auto 20px;
}

/* space between icons */
.right-icons {
    display: flex;
    gap: 10px; 
}

.home-header a {
    background: #e7e7e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.schedule-section {
    text-align: center;
    color: #362C61;
}

/* center */
.tracking-page {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* padding: 1rem; */
    width: 100%;
}

.graph{
    width: 100px;
}

/* more width for smaller screens */
@media (max-width: 768px) {
    .achievement-section button {
        width: 90%; 
    }
}
