dream-team/package-lock.json
dream-team/public/favicon.ico
dream-team/public/logo192.png
dream-team/public/logo512.png
dream-team/public/manifest.json
dream-team/public/robots.txt
dream-team/src/logo.svg
